.header{
    background-color: aquamarine;
    height: 200px;
    background-image: url('../Galley\ Kitchen-\ 3.jpg');
    background-size: cover ;
}
h1{
    background-color: aqua;
    color: brown;
    text-align:center;
}
p{
    color: blueviolet;
}
.sujon{
    background-color: brown;
    text-decoration: line-through;
    text-align: center;
}